#main {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 726px;
	height: 450px;
}
#arena {
	width: 450px;
	height: 450px;
	background-color: white;
}
#txt {
	width: 276px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 450px;
	background-image: url('img/paper.png');
	text-align: center;
	color: black;
	font-size: 25px;
}
#new_game {
	width: 202px;
	height: 72px;
	background-image: url('img/new_game.png');
	margin: auto;
}
#new_game:hover {
	background-image: url('img/new_game_active.png');
}
#cimo {
	width: 202px;
	height: 72px;
	background-image: url('img/cimo.png');
	margin: auto;
}
#cimo:hover {
	background-image: url('img/cimo_active.png');
}
#pvp {
	width: 202px;
	height: 72px;
	background-image: url('img/pvp.png');
	margin: auto;
}
#pvp:hover {
	background-image: url('img/pvp_active.png');
}
